@model IEnumerable<ASP_MVC_Basic.Models.Student>;
@{
    ViewData["Title"] = "คะแนนสอบ";
}

@if (Model.Count() > 0)
{
    <h1 class="text-center" style="font-weight:bold;">คะแนนสอบ</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>รหัสนักเรียน</th>
                <th>ชื่อ</th>
                <th>คะแนน</th>
                <th>สถานะ</th>
                <th>แก้ไข</th>
                <th>ลบ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Student_Id</td>
                    <td>@student.Name</td>
                    <td>@student.Score</td>
                    <td>
                        @if (@student.Score >= 50)
                        {
                            <strong class="text-success">ผ่าน</strong>
                        }
                        else
                        {
                            <strong class="text-danger">ไม่ผ่าน</strong>
                        }
                    </td>
                    <td>
                        <a class="btn btn-warning"
                           asp-controller="Student"
                           asp-action="Edit"
                           asp-route-id="@student.Id">แก้ไข</a>
                    </td>
                    <td>
                        <a class="btn btn-danger"
                           asp-controller="Student"
                           asp-action="Delete"
                           asp-route-id="@student.Id"
                           onclick="return confirm('ต้องการลบข้อมูลของ @student.Name หรือไม่?')">ลบ</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-secondary">ไม่มีข้อมูลในระบบ</div>
}